<h4>Rözgített feladatok listája</h4>

@if(records.length === 0){
  <p>Sajnos még nincs rözgített feladat!</p>
}
@else{
  <table>
    <thead>
      <tr>
        <th>Név</th>
        <th>Prioritás</th>
        <th>Töröl</th>
      </tr>
    </thead>
    <tbody>
      @for(record of records; track record){
        <tr>
          <td>{{record.name}}</td>
          <td>{{record.priority | priority: 'EN'}}</td>
          <td><button (click)="delete(record)">Töröl</button></td>
        </tr>
      }
    </tbody>
  </table>
}
